*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:linear-gradient(135deg,#001428,#001d3d,#002855);
    font-family:'Poppins',sans-serif;
    color:white;
}

/* HEADER */

header{
    width:100%;
    padding:20px 8%;
    background:#00101f;
    border-bottom:2px solid #00e5ff;
}

.header-container{
    display:flex;
    align-items:center;
    gap:20px;
}

.logo-u{
    width:90px;
}

.header-text h2{
    color:#00e5ff;
}

.header-text p{
    color:#d8faff;
}

/* HERO */

.hero{
    height:80vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    position:relative;
}

.hero-content h1{
    font-size:6rem;
    color:#00e5ff;
}

.hero-content p{
    font-size:1.5rem;
    margin-top:20px;
}

/* TITULOS */

.section-title{
    text-align:center;
    font-size:4rem;
    margin-bottom:60px;
    color:#00e5ff;
}

/* ROBOT */

.robot-section{
    padding:100px 8%;
}

.robot-container{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:50px;
    flex-wrap:wrap;
}

.robot-img{
    width:450px;
    border-radius:25px;
    border:3px solid #00e5ff;
    box-shadow:0 0 30px rgba(0,229,255,0.4);
}

.robot-info{
    max-width:600px;
    font-size:1.1rem;
    line-height:1.9;
}

/* CARDS */

.parametros-section{
    padding:100px 8%;
}

.cards-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:40px;
}

.card{
    background:#07192f;
    border-radius:25px;
    padding:30px;
    text-align:center;
    border:2px solid #00e5ff;
    transition:0.4s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 30px #00e5ff;
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:20px;
    margin-bottom:20px;
}

.card h3{
    color:#00e5ff;
    margin-bottom:15px;
    font-size:2rem;
}

.card p{
    line-height:1.7;
}

/* BENEFICIOS */

.beneficios{
    padding:100px 8%;
}

.beneficios-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.beneficio-box{
    background:#07192f;
    border:2px solid #00e5ff;
    border-radius:20px;
    padding:40px;
    text-align:center;
    transition:0.4s;
}

.beneficio-box:hover{
    transform:scale(1.05);
    box-shadow:0 0 25px #00e5ff;
}

/* EQUIPO */

.equipo-section{
    padding:100px 8%;
}

.equipo-container{
    display:flex;
    justify-content:center;
    gap:50px;
    flex-wrap:wrap;
}

.equipo-box{
    background:#07192f;
    padding:40px;
    border-radius:25px;
    border:2px solid #00e5ff;
    width:450px;
}

.equipo-box h3{
    color:#00e5ff;
    margin-bottom:30px;
    text-align:center;
    font-size:2rem;
}

.persona{
    margin-bottom:25px;
}

.persona h4{
    font-size:1.3rem;
}

.persona p{
    color:#b8f8ff;
}

.foto-equipo-container{
    margin-top:60px;
    text-align:center;
}

.foto-equipo{
    width:55%;
    max-width:550px;
    border-radius:25px;
    border:3px solid #00e5ff;
}

/* REDES */

.redes-section{
    padding:120px 8%;
}

.redes-container{
    display:flex;
    justify-content:center;
    gap:50px;
    flex-wrap:wrap;
}

.social-btn{
    width:420px;
    height:220px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    border-radius:35px;
    transition:0.4s;
}

.social-btn:hover{
    transform:translateY(-10px) scale(1.04);
}

.instagram-btn{
    background:linear-gradient(135deg,#833ab4,#fd1d1d,#fcb045);
}

.tiktok-btn{
    background:linear-gradient(135deg,#00f2ff,#000,#ff0050);
}

.social-content h3{
    font-size:2.8rem;
    color:white;
    margin-bottom:15px;
}

.social-content p{
    font-size:1.3rem;
    color:white;
}
